  .container {
        max-width: 960px;
        margin: auto;
        padding: 20px;        
    }

    .card {
        background-color: #073642;
        border: none;
        color: #ffffff;
    }

    .card-title, .card-text {
        color: #ffffff;
    }

    .menu-icons img {        
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .menu-content {
        background-color: white;
        border-radius: 20px;
        padding: 30px;
    }

    .btn img {
        width: 36px;
        height: 36px;
    } 

    .card-body {
        padding: 15px;
    }

    .nav-cardapio{
      font-size: 24px;
      color: #ffffff;     
    }
    .btn-carrinho img{
      width: 100px;
      height: auto;
    }
  .show-product{
      display: flex;
    }
  .hide-product{
      display: none;
    }