@model GourmetGo.Models.Pedido

@{
    ViewData["Title"] = "Editar";
}

<div class="text-center mb-5">
    <img class="logo-gourmet" src="~/images/minor-logo.png" alt="logo">
</div>

<div class="container-sm d-flex flex-column container-principal mt-5">
    <h1 class="text-center text-light mt-5 mb-5">Alterar status</h1>
    <form class="text-light" asp-action="Edit">
        <div class="" asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="ms-3 fs-4">
            <div class="form-group d-flex mb-0 form-parts">
                <label asp-for="Usuario.Nome" class="control-label me-4">Usuário:</label>
                <div>@(Model.Usuario != null ? Model.Usuario.Nome : "Usuário não encontrado")</div>
            </div>
            <div class="form-group d-flex mb-0 form-parts ">
                <label asp-for="PedidoProdutos" class="control-label me-4">Produto(s):</label>
                <div>
                    @foreach (var pedidoProduto in Model.PedidoProdutos)
                    {
                        <div>@pedidoProduto.Produto.Nome</div>
                    }
                </div>
            </div>
            <div class="form-group d-flex form-parts">
                <label asp-for="Observações" class="control-label me-4">Observações:</label>
                <div class="fs-5">@Model.Observações</div>
            </div>
            <div class="form-group d-flex mb-0 form-parts">
                <label asp-for="Tipo" class="control-label me-4">Recebimento:</label>
                <div>@Model.Tipo</div>
            </div>
            <div class="form-group mt-4 mb-5 form-parts">
                <label class="mb-0" asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<StatusDoPedido>()" class="form-control p-3"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="d-flex align-itens-center justify-content-center">
                <input type="submit" value="Salvar" class="fs-4 mb-4 buttons buttons-input btn btn-primary d-flex align-itens-center justify-content-center" />
            </div>
            <div class="d-flex align-itens-center justify-content-center mb-3">
                <a class="buttons buttons-a btn btn-secondary" asp-action="Index">Voltar</a>
            </div>
        </div>
    </form>
</div>

<style>
    .logo-gourmet {
        width: auto;
        height: 240px;
    }

    .container-principal {
        background-color: #0C847B;
        border-radius: 15px;
        border: 4px solid rgba(0, 0, 0, 0.2);
        max-width: 500px;
    }

    .form-parts {
        font-family: arial;
    }

    .buttons {
        background-color: #D9D9D9;
        font-weight: 600;
    }

    .buttons-input {
        border: 3px solid #0057FF;
        color: black;
        border-radius: 10px;
        padding: 4px 80px;
    }

    .buttons-a {
        font-size: 20px;
        color: #000;
        border: 3px solid rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
