@model IEnumerable<GourmetGo.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Gestão de Pedidos</h1>
<h3 class="text-info">Alterar Status</h3>


@* @foreach (var item in Model)
{
} *@