@model GourmetGo.Models.Produto

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-light">Editar produto</h1>

<div class="row text-light">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" type="number" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <!-- Adicione o campo de upload de imagem -->
            <div class="form-group">
                <label class="control-label">Imagem atual</label>
                @if (Model.Imagem != null)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(Model.Imagem)" alt="Imagem do Produto"
                        class="img-fluid" style="max-width: 100px; max-height: 100px;" />
                }
                <br />
                <div class="form-group">
                    <label class="control-label">Nova imagem</label>
                    <input type="file" id="nova-imagem" name="Imagem" class="form-control-file"
                        onchange="previewImagem()" />
                    <span asp-validation-for="Imagem" class="text-danger"></span>
                    <br>
                    <img id="preview-imagem" class="img-fluid" style="max-width: 100px; max-height: 100px;" />
                </div>

            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function previewImagem() {
            var preview = document.querySelector('#preview-imagem');
            var file = document.querySelector('#nova-imagem').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
