@model GourmetGo.Models.Usuario

@{
  ViewData["Title"] = "Cliente/Configuracoes";
}

<div class="text-center">
  <div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-md-6 col-lg-5">
        <img class="logo" src="~/images/logo.png" alt="logo">
        <div class="login">
          <label class="fs-2 cadastro-text">Cadastrar</label>

        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .cadastro-text {
    color: #0C847B;
  }

  .cadastro-button {
    background-color: #0C847B;
  }

  .a-link {
    color: #002D2B;
  }
</style>
