@{
    ViewData["Title"] = "Esqueci Senha";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <img class="logo" src="~/images/logo.png" alt="logo">
            <div class="card bg-white">
                <div class="card-header text-dark">
                    <h3 class="text-center">Esqueci Minha Senha</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="@Url.Action("SendPasswordResetLink", "Home")">
                        <div class="form-group">
                            <label for="username" class="text-dark">Usuário</label>
                            <input type="text" id="username" name="username" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-dark">E-mail</label>
                            <input type="email" id="email" name="email" class="form-control" required />
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                            <a href="@Url.Action("Login", "Usuarios")" class="btn btn-secondary">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
