@{
    ViewData["Title"] = "Esqueci Senha";
}

<style>
    .text-green-light {
        color: #0C847B;
    }

    .class-card {
     border-radius: 20px;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <img class="logo" src="~/images/logo.png" alt="logo">
            <div class="card bg-white class-card">
                <div class="card-body">
                    <form method="post" action="@Url.Action("SendPasswordResetLink", "Home")">
                        <div class="form-group">
                            <label class="text-green-light">Informe o Email cadastrado, iremos enviar um link para o reset de senha.</label>
                            <input type="email" id="email" name="email" class="form-control" required placeholder="Digite seu e-mail aqui" />
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary mb-4">Enviar</button>
                            <p>
                                <a href="@Url.Action("Index", "Home")">Voltar para Login</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
