@{
    ViewData["Title"] = "Esqueci Senha";
}

<style>
    .text-green-light {
        color: #0C847B;
    }

    .botao-enviar {
        background-color: #0C847B;
    }

    .class-card {
        border-radius: 20px;
    }

    .form-a {
        color: #41605F;
    }

    .logo-esquecisenha {
        width: 300px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="text-center">
    <div class="container mt-3">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Message"]
            </div>
        }
        <div class="container-fluid h-100">
            <div class="row align-items-center justify-content-center h-100">
                <div class="col-md-6 col-lg-5">
                    <img class="logo" src="~/images/logo.png" alt="logo">
                    <div class="login">
                        <div class="card bg-white class-card">
                            <div class="card-body">
                                <form method="post" action="@Url.Action("SendPasswordResetLink", "Home")">
                                    <div class="form-group">
                                        <label class="text-green-light text-start fs-5">Informe o Email cadastrado,
                                            iremos
                                            enviar um
                                            link para
                                            resetar sua senha.</label>
                                        <input type="email" id="email" name="email" class="form-control p-4" required
                                            placeholder="Digite seu e-mail aqui" />
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit"
                                            class="btn btn-lg text-light mb-4 px-4 botao-enviar">Enviar</button>
                                        <p class="">
                                            <a class="form-a" href="@Url.Action("Login", "Usuarios")">Voltar para
                                                Login</a>
                                        </p>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
