@{
    ViewData["Title"] = "GestaoGeral";
}


<div class="text-center mb-5">
    <img class="logo-gourmet" src="~/images/minor-logo.png" alt="logo">
</div>

<div class="container-sm d-flex flex-column container-principal mt-5">
    <p class="text-center text-light mt-5 fs-3 ">Bem vindo!</p>
    <p class="text-center text-light fs-3">@User.Identity.Name</p>
</div>

<div class="d-flex p-2 flex-column justify-content-center align-items-center ">
    <a href="@Url.Action("Index", "GestaoDePedidos")" class="btn btn-primary btn-lg"> <i
            class="fi fi-rs-clipboard-list-check"></i>Gestão de Pedidos</a>
    <a href="@Url.Action("Index", "GestaoDePedidos")" class="btn btn-primary btn-lg"> <i
            class="fi fi-rs-clipboard-list-check"></i>Gestão de Pedidos</a>
</div>


<style>
    .logo-gourmet {
        width: 250px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
    }

    .btn-lg {
        padding: 1.5rem 3rem;
        font-size: 1.8rem;
        line-height: 1.5;
        border-radius: 0.3rem;
    }
</style>

<link rel='stylesheet'
    href='https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-straight/css/uicons-regular-straight.css'>